
<%- include("header")  -%> 

<center><h1 style="color: black;">This is a Sample about page with layout taken from header and footer across different ejs files</h1></center>

<%- include("footer") -%>
